/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f9f9f9;

}

.menu-toggle {
    font-size: 30px;
    padding: 10px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 5px;
    transition: left 0.3s;
    z-index: 1000;
}

.slide-menu.active {
    left: 0;
}

.menu-toggle.active {
    left: 250px;
}

.slide-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000;
    transition: left 0.3s ease;
    z-index: 999;
}

.slide-menu ul {
    list-style: none;
    padding: 0;
}

.slide-menu ul li {
    padding: 15px;
}

.slide-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.slide-menu ul li a:hover {
    background-color: #000000;
}


header {
    background-color: #dadada;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 10px 0;
    font-size: 18px;
}

.job-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo de cada item de vaga */
.job-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Imagem da vaga */
.job-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Estilo do título da vaga */
.job-item h2 {
    font-size: 24px;
    margin: 10px 0;
}

/* Estilo dos detalhes da vaga */
.job-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* Estilo do botão de aplicar */
.apply-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.apply-btn:hover {
    background-color: #218838;
}

/* Estilo do rodapé */
footer {
    background-color: #ddd;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
